<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/udm/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <div class="container" style="max-width: 400px; margin-top: 50px">
        <div class="card">
        <div class="card-header">
        Login
        </div>
        <div class="card-body">
        <form method="POST" th:action="@{/login}">
            <label for="username">Username:</label>
            <input type="text" class="form-control m-25" name="username" id="username"/>
            <br/>
            <label for="password">Password:</label>
            <input type="password" class="form-control m-25" name="password" id="password"/>
            <br/>
            <input type="submit" class="btn btn-primary" value="Login"/>
        </form>
        </div>
        </div>
        </div>
    </body>
</html>
